<ul>
	{{#each todos as |todo|}}
	<li>
		<a href="/todos/{{todo.id}}">{{todo.content}}</a>
		<ul>
		<li>
			id : {{todo.id}}
		</li>
		<li>
			content : {{todo.content}}
		</li>
		<li>
			completed : {{todo.completed}}
		</li>
		<li>
			deleted : {{todo.deleted}}
		</li>
		<li>
			user_id : {{todo.user_id}}
		</li>
	</ul>
	</li>
	{{/each}}
</ul>